@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
    font-family: 'Prompt', sans-serif;
    width: 100%;
    margin: 0;
}

h1 {  
    font-size: 50px;
    color: #339fdd;
    margin-top: 5rem;
    text-align: center;
}

form {
    text-align: center;
    margin: 2rem 0;
}

.searchbox {
    width: 40rem;
    height: 2rem;
    text-align: center;
    color: #cccccc;
    font-size: 1rem;
    border-color: #cccccc;
    border-top: none;
    border-left: none;
    border-right: none;

}

.searchbox:focus {
    outline: none;
    border-color: #339fdd;
}

.trip-list {
    width: 40rem;
    justify-content: center;
    margin: 3rem auto;
    overflow: hidden;
}

.trip-title a {
    text-decoration: none;
    color: #000;
}

.trip-description {
    color: #555;
}

.trip-description a {
    color: #339fdd;
}

.trip-tags {
    font-size: 12px;
    color: #555;
}

ul {
    list-style: none;
    display: inline;
    padding-left: 8px;
}

ul li {
    display: inline;
    margin-right: 5px;
}

a.trip-tags-list {
    color: #555;
    text-decoration: underline;
    cursor: pointer;
}

.big-img {
    width: 13rem;
    height: 17rem;
    float: left;
    margin-right: 2rem;
    border-radius: 1rem;
}

.small-img {
    width: 7rem;
    margin-top: 2rem;
    margin-right: 1rem;
    border-radius: 1rem;
}
